$rosa: #f064aa;
$rosa-oscuro: #ec1580;
$lila: #8B5CF6;
$lila-oscuro: #6D28D9;
$fondo-grad-1: #FFF1F6;
$fondo-grad-2: #FFD9E8;
$negro: #333;
$blanco: #fff;

$font-base: 'Quicksand', sans-serif;
$font-script: 'Pacifico', cursive;

$radius: 12px;
$shadow-1: 0 4px 12px rgba(0,0,0,.1);
$shadow-2: 0 4px 15px rgba(0,0,0,.15);

$bp-mobile: 767px;
$bp-tablet: 1023px;
$bp-desktop: 1024px;


$bg-page:   #F8E7EE; 
$navbar-bg: #F48AB6; 


$space-1: .25rem;
$space-2: .5rem;
$space-3: .75rem;
$space-4: 1rem;
$space-5: 1.5rem;
$space-6: 2rem;


$colors: (
  primary:   #ec1580,
  secondary: #8B5CF6,
  success:   #25D366
);
